 
<style>
.pruueba{
    padding: 15px;
    height: 220px;
    margin-top: 20px;
    border-radius: 4px;
    background: #f0f3fa;
    
}
.tt{
  font-size: 16px;
  font-weight: bold;

}
.pruueba::before {

    content: "";
    width: 380px;
    height: 3px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #EC5538 0%, blue 100% ) ;
  
}

.pdeta{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color:#6f717e;
}
</style>
 <div class="container">

  <div class="row" style="border-top-width: 1px; border-color: #e3ded1; border-top-style: solid;">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">



            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->

              <!-- info row -->
              <div class="row invoice-info">

                <!-- /.col -->
                <div class="col-sm-4 invoice-col">

                  <address>
                  <div class="pruueba" >     
                    <p class="pdeta">Detalle Usuario</p>                
                    {{#each persona}}
                    <p> <strong>Nombre: </strong> {{nombre}} {{apellido}}</p>
                    <p><strong>Direccion: </strong>{{direccion}}</p>
                    <p><strong>Ciudad: </strong>  {{ciudad}}</p> 
                    <p><strong>Celular: +505</strong> {{celular}}</p>
                    <p><strong>Telefono:  </strong>{{telefono}}</p>
                  </div>
                  </address>
                  {{/each}}
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <div class="pruueba" >  
                      <p class="pdeta">Detalle del pedido</p>     
                  {{#each cod}}
                  <p><b>Factura #{{id}}</b></p>
                  <p><b>Numero de Pedido:</b> {{id}}</p>
                  <p><b>Fecha del Pedido:</b> {{fecha}}</p>

                  {{/each}}
                  {{#each estado}}
                <p style="color: green;"><b>Estado:</b>{{nombre}}</p>  

                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{porcentaje}}%; background-color:green; text-align:center" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{porcentaje}}%</div>
                </div>
                  {{/each}}
                  </div>
                </div>
                
                    <div class="col-sm-4 invoice-col">

                <div class="pruueba" > 
                    <p class="pdeta">Detalle Repartidor</p> 
                     {{#each repartidor}}
                      <p><b>Nombre:</b> {{nombre}}</p>
                         <p><b>Modelo Vehiculo:</b> {{modelo_carro}}</p>
                         <p><b>Color:</b> {{color}}</p>   
                         <p><b>Placa:</b> {{placa}}</p>  
                      {{/each}}
                    </div>
                    </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                  <table class=" table table-striped">
                    <thead>
                      <tr>
                        <th style="color:#EC5538; text-align: center;">Cantidad</th>
                        <th style="color: #EC5538;text-align: center;">Imagen</th>
                        <th style="color: #EC5538;text-align: center;">Nombre</th>
                        <th style="color: #EC5538;text-align: center;">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each pd}}
                      <tr style="font-weight: bold;">
                        <td style="text-align: center;vertical-align: center;">{{cantidad}}</td>
                        <td style="text-align: center; vertical-align: center;"><img src="../{{imagen}}" style="height: 100px; width:100px " class="card-img"></td>
                        <td style="text-align: center;vertical-align: center;">{{nombre}}</td>
                        <td style="text-align: center;vertical-align: center;">${{precio_venta}}</td>
                      </tr>
                      {{/each}}


                    </tbody>
                  </table>

              </div>
              <!-- /.row -->

              <div class="row">
                    <table class="table">
                      {{#each totales}}
                      <tr class="tt" style="color: green;">
                        <th >Subtotal:</th>
                        <th>${{subtotal}}</th>
                      </tr> 
                      <tr class="tt" style="color: green;">
                        <th>Tax </th>
                        <th>${{tax}}</th>
                      </tr>

                      <tr class="tt" style="color: red;">
                        <th >Total:</th>
                        <th>${{total}}</th>
                      </tr>
                      {{/each}}
                    </table>
              </div>
              <!-- /.row -->


            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->



  </div>
 
 </div>