<style>
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }

  .thumbnail-description {
    min-height: 40px;
  }

  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
  .banner{
    height: 300px;
  }
  .imgg{
    display: block;
    margin: auto;
  }
  .info{
    width: 100%;
    height: 90px;
   background-color: #282333;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin-bottom: 20px;
    font-size: 18px;
    color: #EC5538;

  }
  .Hist{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-left: 10px;
    
  }
  .este{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  
    
  }
</style>

<div class="banner" style="background-image: url(images/FondoRe.png)">
  {{#each  persona}}
  <div class="row">
    <div class="container">
        <img class="imgg" src="images/usuario.png" style="max-width:100%;width:130px;height:130px; margin-top:20px">
      <h1 style="color: white; text-align:center" >
      {{nombre}}
      </h1>
      <h6 style="color: white;text-align:center">
        Miembro desde <date>{{ creado}}</date>
      </h6>

    </div>
  </div>

</div>
<div class="info">
  <div style="text-align: center;">
     
       <p style="margin-top: 10px;"><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i> Nombre</p>
              <p>&nbsp;{{nombre}} {{apellido}}</p>
  </div>
<div  style="text-align: center;">
  <p style="margin-top: 10px;"><i class=" glyphicon glyphicon-calendar light-red lighter bigger-120"></i> Fecha Nacimiento</p>
            <div class="thumbnail-description smaller"> {{fecha_nacimiento}}</div>
</div>
<div  style="text-align: center;">
  
  <p style="margin-top: 10px;"><i class="glyphicon glyphicon-home light-red lighter bigger-120"></i> Direccion</p>
               <div class="thumbnail-description smaller"> {{direccion}}</div>
</div>
<div  style="text-align: center;">
  <p style="margin-top: 10px;"> <i class="glyphicon glyphicon-pushpin light-red lighter bigger-120"></i> Ciudad</p>
                <div class="thumbnail-description smaller"> {{ciudad}}</div>
</div>
</div>

<div class="container">



  <div class="container">
    <div class="row">


      {{/each }}
<div class="este text-center">
  <div>
<img src="images/lista.png" style="max-width:100%;width:60px;height:60px;">
  </div>
  <div>
<h4 class="Hist">Historial de Compras </h4>
  </div>
</div>

         
      <div class="col-md-12" style="margin-bottom: 30px;">
     
          <div class="caption text-center">
 
            <table class="table table-striped">
              <thead>
                <tr>
                   
                  <th style="color:#EC5538; text-align: center;" scope="col">Codigo compra</th>
                  <th style="color:#EC5538; text-align: center;" scope="col">Fecha Pedido</th>
                  <th style="color:#EC5538; text-align: center;" scope="col">Total</th>
                  <th style="color:#EC5538; text-align: center;" scope="col">Estado</th>
                  <th style="color:#EC5538; text-align: center;" scope="col">Accion</th>

                </tr>
              </thead>
              <tbody>
                {{#each  pedido}}
                <tr>

                
                  <td>{{cod_factura}}</td>
                  <td>{{fecha}}</td>
                  <td>{{total}}</td>
                <td>
                <div 
                 class=" progress progress-bar"
                 role="progressbar" 
                 style="width: {{porcentaje}}%; background-color:green; text-align:center" 
                 aria-valuenow="50" 
                 aria-valuemin="0" 
                 aria-valuemax="100">
                 {{porcentaje}}%
                 </div>
                </td>
                  <td><a class="btn btn-primary" href="/pedidos/{{cod_factura}}">Ver detalle</a></td>

                </tr>
                {{/each}}
              </tbody>
            </table>

        </div>

      </div>



    </div>
  </div>
</div>


