<style>
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }

  .thumbnail-description {
    min-height: 40px;
  }

  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
</style>
<div class="page-title" style="background-image: url(images/page-title.png)">
</div>

<div class="container">
  {{#each  persona}}
  <div class="row">
    <div class="container">
      <h1>
        Bienvenido, {{nombre}}
      </h1>
      <h4>
        Miembro desde <date>{{ fechaRegistro}}</date>
      </h4>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="thumbnail">
          <div class="caption text-center">
            <div class="position-relative">

            </div>
            <h4 id="thumbnail-label"><a href="https://flow.microsoft.com/en-us/connectors/shared_slack/slack/"
                target="_blank">Informacion Personal</a></h4>
            <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;{{nombre}} {{apellido}}</p>
            <div class="thumbnail-description smaller">Fecha Nacimiento: {{Nacimiento}}</div>
            
            <div class="thumbnail-description smaller">Celular: {{celular}}</div>

          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">

              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModalCenter">Editar</button>
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Informacion Personal</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary">Actualizar</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                    </div>
                  </div>
                </div>
              </div>

              <li></li>
              <li><i class="glyphicon glyphicon-envelope lighter"></i><a href="#">&nbsp;Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{/each }}









      </ul>

      <div class="col-md-6">
        <div class="thumbnail">
          <div class="caption text-center">

            <h4 id="thumbnail-label"><a target="_blank">Historial de Compras </a></h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Codigo compra</th>
                  <th scope="col">Fecha Pedido</th>
                  <th scope="col">Total</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Accion</th>

                </tr>
              </thead>
              <tbody>
                {{#each  pedido}}
                <tr>

                  <th scope="row">1</th>
                  <td>{{codVenta}}</td>
                  <td>20/11/2019</td>
                  <td>{{total}}</td>
                  <td>{{estado}}</td>
                  <td><button type="submit" class="btn btn-primary">Ver detalle</button></td>

                </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


