<style>
  .thumbnail {
    border-radius: 5px;
    border:none;
    background: #f0f3fa;
    width: 800px;
    margin-left: auto;
    margin-right: auto;

  }
  .martop{
    margin-bottom: 20px;
  }
    .pago {
    border-radius: 5px;
    border:none;
    background: #f0f3fa;
    width: 800px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    

  }
   .thumbnail::before {
    content: "";
    width: 800px;
    height: 3px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-color: #EC5538;
  
}
.pago::before {

    content: "";
    width: 800px;
    height: 3px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
  
}

  .thumbnail-description {
    min-height: 40px;
  }

  .thumbnail:hover {
    cursor: pointer;
  }


  .botonimagen{
  background-image:url(images/pp.png);
  background-repeat:no-repeat;
    background-color: #fff;
          
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 50px;
    width: 300px;
   
}
</style>


<div class="page-title" style="background-image: url(images/page-title.png);">
  <h1>Bolsa de Compras</h1>
</div>

<div class="container " >
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align: center;">Detalle del producto</h1>

      {{#each carro}}
      <div class="col-sm-12">
        <div class="thumbnail">
          <div class="card mb-3">
            <div class="row no-gutters" style="padding:5px">
              <div class="col-md-6" >
                <img  style="height: 200px;display:block;margin-left:auto;margin-right:auto" src="{{imagen}}">
              </div>

              <div class="col-md-6">

                <div class="card-body">
                  <h2>{{nombre}}</h2>
                  <h4>Marca:{{marca}}</h4>
                  <h4>Precio: ${{precio_venta}}</h4>
                     <a href="/carrito/eliminar/{{id_carrito}}" class="btm btn-danger"> Eliminar Producto</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="col-md-12 martop">
      <div class="col-sm-12">
        <h1 style="text-align: center;">Detalle de pago</h1>
        <div class="pago">
          <form action="/pay" method="POST">
            <h3>
               
             Sub Total:${{sub_total}}
                
            </h3>
            <h3>Envio:${{tax}} </h3>
            <h3>Total:${{total}} </h3>
             <button class="btn-primary" type="submit">Pagar Via Paypal</button>
            </div>
           
          </form>
       
      </div>
    </div>
  </div>
</div>

<script>
  function ShowSelected() {
    /* Para obtener el valor */
    var cantidad = document.getElementById("cantidad");
    return parseInt(cantidad);


  }
</script>